*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.conf{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://mega.com.vn/media/news/0106_hinh-nen-4k-may-tinh14.jpg");
}

.textarea{
	resize: none;
}

.error{
	margin: 5px;
    color: #ff4848;
    font-size: 1rem;
}

.avatar{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.avatar1{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.title {
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.5rem;
    color: pink;
}

.ten {
    outline: none;
    padding: 5px;
    border-radius: 5px;
}


.sidebar{
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden; 
    font-size: 16px;
}

.sidebar .menu{
	margin-top: 50px;
}

.sidebar .menu li{
    list-style-type: none;
}

.sidebar .menu li a{
    display: block;
    padding: 20px 0;
    text-decoration: none;
    color: black;
    text-align: center;
}

.sidebar .menu li:first-child div{
	color: #0097e6;
	font-size: 1.5rem;
}

.sidebar .menu li a:hover{
    background-color: black;
	color: white;
}

.chon{
    background-color: #555!important;
	color: yellowgreen!important;
}

.code{
	height: 50px;
	display: flex;
    align-items: center;
    justify-content: center;
    background: darkolivegreen;
    font-weight: 600;
    color: wheat;
}

.content{
    margin-left: 160px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 14px;
    height: 100vh;
	background: rgba(34, 21, 0, 0.7);
	color: cyan;
}

.link{
	color: darkgreen;
    text-decoration: none;
}

.link:hover{
	color: blueviolet;
}

.tieu{
	text-align: left;
    font-size: 1rem;
    font-weight: 600;
    color: beige;
    margin-bottom: 5px;
}

.content .add{
    padding: 15px;
    background: #192a56;
    color: white;
    border: none;
	position: absolute;
	top: 20px;
	right: 20px;
	border-radius: 10px;
}

.content .add:hover{
	box-shadow: 2px 2px 4px #111111;
}

.content .students-list table, .content .assignment-list table{
	width: 100%;
	position: relative;
	top: 50px;
}

.content .students-list table, th, td, .content .assignment-list table, th, td{
    border-bottom: 2px solid black;
    border-collapse: collapse;
    background: none;
    padding: 15px;
}

.content .addition{
	width: 30%;
	text-align: center;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.content .addition p{
	font-size: 20px!important;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.content .addition input[type="text"], .content .addition input[type="password"]{
	display: block;
	width: 100%;
	border: none;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.content.addition input[type="text"]:focus,.content .addition input[type="text"]:hover,
.content.addition input[type="password"]:focus,.content .addition input[type="password"]:hover{
	outline: none;
	box-shadow: 0px 0px 8px #888888;
}

.content .addition input[type="submit"]{
	border: none;
	padding: 20px;
	background: #192a56;
	color: white;
	margin: 0 auto;
	border-radius: 10px;
}

.content .addition input[type="submit"]:hover, .content .assignment input[type="submit"]:hover{
	box-shadow: 2px 2px 4px #192a56;
}

.err{
    color:  red!important;
    font-size: small!important;
	font-style: italic!important;
	margin-bottom: 10px;
}


.container{
    margin-left: 160px;
    padding: 50px;
    box-sizing: border-box;
    font-size: 14px;
    height: 100vh;
	background-color: rgba(34, 21, 0, 0.7);
	box-sizing: border-box;
}

.container .row{
	margin-bottom: 50px;
	box-sizing: border-box;
}

.container .row p{
	font-size: 16px;
	margin-bottom: 10px;
	color: cyan
}

.container .row span{
	font-size: 16px;
	margin-bottom: 10px;
	color: cyan
}

.container .row:last-child{
	width: 85%;
	position: fixed;
	bottom: 0;
	margin-bottom:10px !important;
}

.add{
    padding: 15px;
    background: #192a56;
    color: white;
    border: none;
	border-radius: 10px;
	text-decoration: none;
}

.container .row input[type=text]{
	width: 80%;
	border: none;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
	margin-top: 10px;
	background-color: lightcoral;
	color: white;
	font-size: 18px;
}

.container .row input[type=text]:focus{
	outline: none;
	box-shadow: 2px 2px 4px #192a56;
}

.container .row input[type=submit]{
	border: none;
	background-color: none;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}

.container .row input[type=submit]:hover{
	outline: none;
	box-shadow: 2px 2px 4px #192a56;
}

.content .assignment {
	width: 30%;
	padding: 30px;
	border: 2px solid cornflowerblue;
}

.content .assignment input[type="file"] {
	border: none;
	padding: 5px 10px;
}

.content .assignment input[type="submit"] {
	border: none;
	padding: 10px;
	border-radius: 5px;
	background: #192a56;
	color: white;
}